// Grayscale colors
$white: #fff;
$black: #000;
$gray: #515151;
$light-gray: #e6e6e6;

// Color Wheel
$red:;
$red-orange:;
$orange:;
$orange-yellow:;
$yellow:;
$yellow-green:;
$green:;
$green-blue:;
$blue:;
$violet-blue:;
$violet:;
$violet-red:;

// Defined Color Variables

// $white: #fff;
// $black: #2D3142;
// $red: #ee3c86;
// $purple: #2e1244;
// $blue: #0089f3;
// $lblue: #a1cdf4;
// $base: #615b6b;
// $gray: #d3d3d3;
// $ltgray:#FBFCFC;
// $green: #6ED32D;
// $faint: #f6f6fd;
// $cool: #f4f4f4;
// $ltbeige: #fffae7;
// $bg: #333745;
// $gold: #ffd700;